html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-attachment: fixed;
    
    /* Gray to blue */
    background-image: linear-gradient(to right, #3C3B3F, #605C3C);

    font-family: "sans-serif";
}

h1, h2, h3, h4, h5, h6, p {
    color: #ecf0f1;
}


#sidebar {
    text-align: center;
    padding: 2rem 1rem;

    background-color: #1b1a1a; 

    color: #ecf0f1;
    font-family: "sans-serif";
    z-index: 999;
}
  
#sidebar h2 {
    text-align: left;
    margin-bottom: 0;
}
  
/* Hide the blurb on a small screen */
#blurb {
    display: none;
}
  
#sidebar-toggle {
    display: none;
}
  
#collapse *:first-child {
    margin-top: 1rem;
}
  
/* add the three horizontal bars icon for the toggle */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
  
#page-content {
    padding: 2rem 0.5rem 1rem 0rem;
    font-family: "sans-serif";
    min-height: 100vh;
    background-attachment: fixed;
    
    /* Gray to blue */
    background-image: linear-gradient(to right, #3C3B3F, #605C3C);
}

@media (min-width: 48em) {
    #sidebar {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 16 rem;
        text-align: left;
        transition: margin 0.3s ease-in-out, padding 0.3s ease-in-out;
    }
  
    #sidebar-toggle {
        display: inline-block;
        position: relative;
        top: 0;
        transition: top 0.3s ease-in-out;
    }
  
    /* add negative margin to sidebar to achieve the collapse */
    #sidebar.collapsed {
        margin-left: -15.5rem;
        padding-right: 0.5rem;
    }
  
    /* move the sidebar toggle up to the top left corner */
    #sidebar.collapsed #sidebar-toggle {
        top: -2rem;
    }
  
    /* also adjust margin of page content */
    #sidebar.collapsed ~ #page-content {
        margin-left: 6.5rem;
    }
  
    /* move all contents of navbar other than header (containing toggle) further
       off-screen */
    #sidebar.collapsed > *:not(:first-child) {
        margin-left: 0rem;
        margin-right: 6rem;
    }
  
    /* reveal the blurb on a large screen */
    #blurb {
        display: block;
    }
  
    /* Hide the toggle on a large screen */
    #navbar-toggle {
        display: none;
    }
  
    #collapse {
        display: block;
    }
  
    /* set margins of the main content so that it doesn't overlap the sidebar */
    #page-content {
        margin-left: 18rem;
        margin-right: 2rem;
        transition: margin-left 0.3s ease-in-out;
    }
}

/* Custom accordion */
/* Button not clicked */
.accordion-button.collapsed {
    background-color: #d3d3d3 !important;
}

/* Button clicked */
.accordion-button:not(.collapsed) {
    background-color: #a1a1a1 !important;
}

/* Border extra */
.accordion-item {
    border: 1px solid #603c3c !important;
}

.small-button {
    font-size: 12px !important;
    padding: 5px 10px !important;
}

/* Custom carousel */
/* Controls indicators */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #000000;
}

/* Indicators */
.carousel-indicators {
    bottom: -40px;
    background-color: #000000;
}

/* Move Carousel Controls */
.carousel-control-prev,
.carousel-control-next {
    top: unset;
    bottom: -32px;
    width: 5%;
}